# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
absl-py=1.0.0=pypi_0
altair=4.2.0=pypi_0
anyio=3.6.1=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
asgiref=3.5.2=pypi_0
astor=0.8.1=pypi_0
asttokens=2.0.5=pyhd3eb1b0_0
astunparse=1.6.3=pypi_0
attrs=21.4.0=pypi_0
backcall=0.2.0=pyhd3eb1b0_0
backports-zoneinfo=0.2.1=pypi_0
base58=2.1.1=pypi_0
beautifulsoup4=4.11.1=pypi_0
bleach=5.0.0=pypi_0
blinker=1.4=pypi_0
bs4=0.0.1=pypi_0
ca-certificates=2022.4.26=h06a4308_0
cachetools=5.1.0=pypi_0
certifi=2022.5.18.1=pypi_0
cffi=1.15.0=pypi_0
chardet=4.0.0=pypi_0
charset-normalizer=2.0.12=pypi_0
click=8.1.3=pypi_0
colorama=0.4.4=pypi_0
cryptography=37.0.2=pypi_0
debugpy=1.5.1=py38h295c915_0
decorator=5.1.1=pyhd3eb1b0_0
deepctr-torch=0.2.7=pypi_0
defusedxml=0.7.1=pypi_0
docx2txt=0.8=pypi_0
entrypoints=0.4=py38h06a4308_0
executing=0.8.3=pyhd3eb1b0_0
fastapi=0.78.0=pypi_0
fastjsonschema=2.15.3=pypi_0
filelock=3.7.1=pypi_0
flatbuffers=1.12=pypi_0
gast=0.4.0=pypi_0
gensim=4.2.0=pypi_0
gitdb=4.0.9=pypi_0
gitpython=3.1.27=pypi_0
google-auth=2.6.6=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.46.1=pypi_0
gunicorn=20.1.0=pypi_0
h11=0.13.0=pypi_0
h5py=3.6.0=pypi_0
httptools=0.4.0=pypi_0
huggingface-hub=0.7.0=pypi_0
idna=3.3=pypi_0
importlib-metadata=4.11.3=pypi_0
importlib-resources=5.7.1=pypi_0
ipykernel=6.9.1=py38h06a4308_0
ipython=8.3.0=py38h06a4308_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.7.0=pypi_0
jedi=0.18.1=py38h06a4308_1
jinja2=3.1.2=pypi_0
joblib=1.1.0=pypi_0
jpype1=1.4.0=pypi_0
jsonschema=4.5.1=pypi_0
jupyter_client=7.2.2=py38h06a4308_0
jupyter_core=4.10.0=py38h06a4308_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-widgets=1.1.0=pypi_0
keras=2.9.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
konlpy=0.6.0=pypi_0
ld_impl_linux-64=2.38=h1181459_0
libclang=14.0.1=pypi_0
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgomp=9.3.0=h5101ec6_17
libsodium=1.0.18=h7b6447c_0
libstdcxx-ng=9.3.0=hd4cf53a_17
loguru=0.6.0=pypi_0
lxml=4.9.0=pypi_0
markdown=3.3.7=pypi_0
markupsafe=2.1.1=pypi_0
matplotlib-inline=0.1.2=pyhd3eb1b0_2
mistune=0.8.4=pypi_0
nbclient=0.6.3=pypi_0
nbconvert=6.5.0=pypi_0
nbformat=5.4.0=pypi_0
ncurses=6.3=h7f8727e_2
nest-asyncio=1.5.5=py38h06a4308_0
nltk=3.7=pypi_0
notebook=6.4.11=pypi_0
numpy=1.19.2=pypi_0
oauthlib=3.2.0=pypi_0
openssl=1.1.1o=h7f8727e_0
opt-einsum=3.3.0=pypi_0
opyrator=0.0.12=pypi_0
packaging=21.3=pypi_0
pandas=1.4.2=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pyhd3eb1b0_0
pdfminer-six=20220319=pypi_0
pdfplumber=0.6.2=pypi_0
pexpect=4.8.0=pyhd3eb1b0_3
pickleshare=0.7.5=pyhd3eb1b0_1003
pillow=9.1.1=pypi_0
pip=21.2.4=py38h06a4308_0
plotly=5.8.0=pypi_0
prometheus-client=0.14.1=pypi_0
prompt-toolkit=3.0.20=pyhd3eb1b0_0
protobuf=3.20.1=pypi_0
ptyprocess=0.7.0=pyhd3eb1b0_2
pure_eval=0.2.2=pyhd3eb1b0_0
pyarrow=8.0.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.21=pypi_0
pydantic=1.9.1=pypi_0
pydeck=0.7.1=pypi_0
pygments=2.11.2=pyhd3eb1b0_0
pympler=1.0.1=pypi_0
pyparsing=3.0.9=pypi_0
pypdf2=1.28.2=pypi_0
pyrsistent=0.18.1=pypi_0
python=3.8.13=h12debd9_0
python-dateutil=2.8.2=pyhd3eb1b0_0
python-dotenv=0.20.0=pypi_0
python-multipart=0.0.5=pypi_0
pytz=2022.1=pypi_0
pytz-deprecation-shim=0.1.0.post0=pypi_0
pyyaml=6.0=pypi_0
pyzmq=22.3.0=py38h295c915_2
readline=8.1.2=h7f8727e_1
regex=2022.4.24=pypi_0
requests=2.27.1=pypi_0
requests-oauthlib=1.3.1=pypi_0
rsa=4.8=pypi_0
sacremoses=0.0.53=pypi_0
scikit-learn=1.1.1=pypi_0
scipy=1.8.1=pypi_0
semver=2.13.0=pypi_0
send2trash=1.8.0=pypi_0
sentence-transformers=2.2.0=pypi_0
sentencepiece=0.1.96=pypi_0
setuptools=61.2.0=py38h06a4308_0
six=1.16.0=pyhd3eb1b0_1
sklearn=0.0=pypi_0
smart-open=6.0.0=pypi_0
smmap=5.0.0=pypi_0
sniffio=1.2.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
sqlite=3.38.3=hc218d9a_0
stack_data=0.2.0=pyhd3eb1b0_0
starlette=0.19.1=pypi_0
streamlit=1.3.1=pypi_0
tenacity=8.0.1=pypi_0
tensorboard=2.9.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.15.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tinycss2=1.1.1=pypi_0
tk=8.6.11=h1ccaba5_1
tokenizers=0.12.1=pypi_0
toml=0.10.2=pypi_0
toolz=0.11.2=pypi_0
torch=1.11.0=pypi_0
torchvision=0.12.0=pypi_0
tornado=6.1=py38h27cfd23_0
tqdm=4.64.0=pypi_0
traitlets=5.1.1=pyhd3eb1b0_0
transformers=4.18.0=pypi_0
typer=0.4.1=pypi_0
typing-extensions=4.2.0=pypi_0
tzdata=2022.1=pypi_0
tzlocal=4.2=pypi_0
urllib3=1.26.9=pypi_0
uvicorn=0.17.6=pypi_0
validators=0.19.0=pypi_0
wand=0.6.7=pypi_0
watchdog=2.1.8=pypi_0
watchgod=0.8.2=pypi_0
wcwidth=0.2.5=pyhd3eb1b0_0
webencodings=0.5.1=pypi_0
websockets=10.3=pypi_0
werkzeug=2.1.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
widgetsnbextension=3.6.0=pypi_0
wrapt=1.14.1=pypi_0
xz=5.2.5=h7f8727e_1
zeromq=4.3.4=h2531618_0
zipp=3.8.0=pypi_0
zlib=1.2.12=h7f8727e_2
